DB_USER="root"
DB_PASSWORD="my-secret-pw"
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="dev"

DATABASE_URL="mysql://root:my-secret-pw@127.0.0.1:3306/dev"

LDAP_URL="ldap://127.0.0.1:3890"
EMULATE_SSOWAT="true"
EMULATE_SSOWAT_UID1=""
EMULATE_SSOWAT_PWD1=""
EMULATE_SSOWAT_UID2=""
EMULATE_SSOWAT_PWD2=""
